body 
{
    background-color: azure;
}

h1 
{
    text-align: left;
    margin-left: 20px;
    font-size: 100px;
}

.RequirePoint 
{
    color: red;
}

form 
{
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding-top: 100px;
    padding-right: 350px;
    padding-left: 350px;
    padding-bottom: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 25px;
}

.Book
{
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

button{
    font-size: 30px;
}

.Right-floating-sidebar {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 200px;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.sidebar-images img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.BottomPicture {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}